@import 'tailwindcss';

:root {
  --background: #FDFCF9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: #969b72;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  /* font-family: var(--font-geist-sans); */
  /* font-family: var(--font-inter); */
  font-family: var(--font-ubuntu);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.light {
  --bg-primary: #F5F5F5;
  --bg-secondary: #E0E5EC;
  /* --bg-secondary: #1a202c; */
}

.dark {
  --bg-primary: #1a202c;
  --bg-secondary: #2d3748;
  /* --bg-secondary: #005eff; */
  color: #f7fafc;
}

body::before {
  animation: breath 10s infinite;
  content: "";
  z-index: -10;
  position: absolute;
  display: block;
  inset: 0;
  opacity: 0.3;
  filter: contrast(100%) brightness(100%);
  background:
    url("/images/noise.svg"),
    linear-gradient(160deg, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
}

/* background: linear-gradient(0deg, #d7deaa, #336ca663), */
@keyframes breath {
  0% {
    filter: contrast(100%) brightness(100%);
  }

  50% {
    filter: contrast(150%) brightness(100%);
  }

  100% {
    filter: contrast(100%) brightness(100%);
  }

}