@import 'tailwindcss';

:root {
  --background: #FDFCF9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: #969b72;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  /* font-family: var(--font-geist-sans); */
  /* font-family: var(--font-inter); */
  font-family: var(--font-ubuntu);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.light {
  --bg-primary: #F5F5F5;
  --bg-secondary: #000000;
  /* --bg-secondary: #1a202c; */
}

.dark {
  --bg-primary: #1a202c;
  --bg-secondary: #2d3748;
  /* --bg-secondary: #005eff; */
  color: #f7fafc;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 160deg;
  inherits: false;
}

body::before {
  animation: breath 12s infinite ease-in-out;
  content: "";
  z-index: -10;
  position: absolute;
  display: block;
  inset: 0;
  opacity: 0.3;
  filter: contrast(1600%) brightness(500%);
  background:
    url("/images/noise.svg"),
    linear-gradient(var(--gradient-angle), transparent, transparent, var(--bg-secondary));
}


/* background: linear-gradient(0deg, #d7deaa, #336ca663), */
@keyframes breath {
  0% {
    --gradient-angle: 120deg;
    filter: contrast(1) brightness(1);
  }

  50% {
    --gradient-angle: 160deg;
    filter: contrast(4) brightness(1);
  }

  100% {
    --gradient-angle: 120deg;
    filter: contrast(1) brightness(1);
  }
}