.gradient-outline {
        --border: 4px;
        --color1: #aee86b;
        --color2: #a52900;
        --from: 30deg;
        --distance: 60%;

        position: absolute;
        background: conic-gradient(from var(--from),
                        var(--color1),
                        var(--color2) var(--distance),
                        transparent var(--distance));
        mask: radial-gradient(farthest-side,
                        transparent calc(100% - var(--border)),
                        #fff calc(100% - var(--border) + 1px));
        width: 100%;
        aspect-ratio: 1;
        inset: 0;
        z-index: -1;
        border-radius: calc(infinity * 1px);
        inset: 0;

        @media screen and (max-width: 640px) {
                animation: circleWalk 6s infinite;
        }
}


@keyframes circleWalk {
        0% {
                transform: rotate(0deg);
        }

        20% {
                transform: rotate(360deg);
        }

        100% {
                transform: rotate(360deg);
        }
}

.navList>*:not(:last-child)::after {
        content: 'ï¼Ž';
        padding: 0 .5rem;
}

@media (min-width: 768px) {
        .navList>*::after {
                content: none;
                display: none;
        }
}